{% extends 'base.html' %} {% load static %}

{% block content %}

<br/>
<h2 class="my-4 ">Ankle Weights</h2>
<hr>
<div class="row">
<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="https://amzn.to/358zGLH"><img class="card-img-top" src="{% static 'affiliate/images/An1.jpg' %}" height=500 width=200 alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="https://amzn.to/358zGLH">Sportneer Ankle Weights, 1-5 lbs Each Pack, 2 Pack 2-10 lbs (Max 5 LBS)
        </a>
      </h4>
      <p class="card-text">COMES IN A PAIR: Comes in 2 ankle weights, 
          EACH ankle weight weighs up to 5 lbs, 2 PACK of ankle weights up to 10 lbs
      </p>
          <a href="https://amzn.to/358zGLH" class="btn btn-secondary">$29.99</a>
    </div>
  </div>
</div>
</div>











{% endblock %}