{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      
    <title>CheapTreadmills!</title>
      
    <!-- Bootstrap core CSS -->
    <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      
    <!-- Custom styles for this template -->
    <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">
      
    </head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'affiliate/images/cheaptreadmills.png' %}" width=120 alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">   
          <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'treadmills' %}">Treadmills</a>
            <a class="dropdown-item" href="{% url 'ellipticals' %}">Ellipticals</a>
            <a class="dropdown-item" href="{% url 'protien_shakes' %}">Protien Shakes</a>
            <a class="dropdown-item" href="{% url 'healthy_snacks' %}">Healthy Snacks</a>
          </div>
        </div>
        </ul> 
      </div>
      <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
    <h1><a href="https://www.instagram.com/cheaptreadmills/" class="fa fa-instagram"></a></h1>
    </div>
  </nav>
  {% block content %}
        
    {% endblock %}
<hr class="my-4">
<footer class="py-5 bg-dark">
    <div class="container">
      <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons -->
        <h1 class="m-0 text-center text-white"><a href="https://www.instagram.com/cheaptreadmills/" class="fa fa-instagram"></a></h1>
      <p class="m-0 text-center text-white">Copyright &copy; CheapTreadmills 2020</p>
    </div>
    
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>