{% extends 'base.html' %} {% load static %}

{% block content %}
    <!-- Portfolio Section -->
    <br/>
    <h2 class="my-4 ">Ellipticals</h2>
    <hr>
    <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3cVCBe1"><img class="card-img-top" src="{% static 'affiliate/images/e1.jpg' %}" height=500 width=200 alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3cVCBe1">Sunny Health & Fitness Premium Cardio Climber Stepping Elliptical Machine - SF-E3919
            </a>
          </h4>
          <p class="card-text">HEAVY-DUTY FRAME: Confidently enjoy long-lasting climbing and striding sessions when you exercise on the steel climber frame that has a user weight limit of 260lb
          </p>
              <a href="https://amzn.to/3cVCBe1" class="btn btn-secondary">$499</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3ldEoON"><img class="card-img-top" src="{% static 'affiliate/images/e2.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3ldEoON">ncient Elliptical Machine
            </a>
          </h4>
          <p class="card-text">Increase the strength of the frame which can support a maximum of 265lbs. 13 inch non-slip pedal provides a no impact, smooth flowing workout, increase stability and comfort
          </p>
              <a href="https://amzn.to/3ldEoON" class="btn btn-secondary">$309</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3ikrVa8"><img class="card-img-top" src="{% static 'affiliate/images/e3.jpg' %}" height=500 width=200 alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3ikrVa8">Sunny Health & Fitness SF-E905
            </a>
          </h4>
          <p class="card-text">RESISTANCE: Easily adjust the intensity of your workout with the twist of the precise micro-controller equipped with 8 levels of magnetic resistance.
            DIGITAL MONITOR WITH PULSE: Follow along with your workout progress on the digital monitor that displays your time, speed, distance, calories, and pulse ($179 value)
          </p>
              <a href="https://amzn.to/3ikrVa8" class="btn btn-secondary">$179</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}