{% extends 'base.html' %} {% load static %}

{% block content %}

<br/>
<h2 class="my-4 ">Protien Bar</h2>
<hr>
<div class="row">
<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="https://amzn.to/3573Ejg"><img class="card-img-top" src="{% static 'affiliate/images/ba1.jpg' %}" height=500 width=200 alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="https://amzn.to/3573Ejg">Pure Protein Bars, High Protein Gluten Free, Variety Pack, 1.76oz, 18 Pack
        </a>
      </h4>
      <p class="card-text">Pure Protein Bars are the perfect combination of high protein, with less than 3g of sugar 
          and great taste. This delicious Chocolate Variety Pack bar has up to 21g of protein for quick and sustained 
          energy, and it is gluten free.
      </p>
          <a href="https://amzn.to/3573Ejg" class="btn btn-secondary">$16.28</a>
    </div>
  </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="https://amzn.to/35cheBO"><img class="card-img-top" src="{% static 'affiliate/images/ba2.jpg' %}" height=500 width=200 alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="https://amzn.to/35cheBO">Pure Protein Bars, High Protein Gluten Free Bar, Chocolate Deluxe, 1.76 Oz Bars, 12 Ct
          </a>
        </h4>
        <p class="card-text">Pure Protein Bars are the perfect combination of high protein, only 3g of sugar and 
            great taste. This delicious Chocolate Deluxe bar has 21g of protein for quick and sustained energy, 
            and it is gluten free.
        </p>
            <a href="https://amzn.to/35cheBO" class="btn btn-secondary">$13.36</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="https://amzn.to/3j8zLnx"><img class="card-img-top" src="{% static 'affiliate/images/ba3.jpg' %}" height=500 width=200 alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="https://amzn.to/3j8zLnx">Gatorade Whey Protein Bars, Chocolate Caramel, 2.8 oz bars (Pack of 12, 20g of protein per bar)
          </a>
        </h4>
        <p class="card-text">Don’t count the days. Make the days count. Grab your home workout equipment then help your muscles rebuild with 
            20g of protein from Gatorade Whey Protein Bars.
        </p>
            <a href="https://amzn.to/3j8zLnx" class="btn btn-secondary">$13.98</a>
      </div>
    </div>
  </div>
</div>











{% endblock %}