{% extends 'base.html' %} {% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CheapTreadmills!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/2redo.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmills Deals!</h3>
            <p>Find the lowest Treadmill prices online!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/1redo.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
          <h3>Don't Workout At The Gym!</h3>
          <p>Stay COVID-19 free and workout at home!</p>
        </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3redo.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>SALES!</h3>
            <p>We have some amazing sales going on right now!</p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Section -->
    <h1 class="my-4 text-center">Treadmills | Ellipticals | Exercise Bikes</h1>
    <hr>
    <h2 class="my-4 ">Treadmills</h2>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/30pbPWy"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/30pbPWy">NordicTrack T Series Treadmill</a>
            </h4>
            <p class="card-text">Your purchase includes: NordicTrack T Series Treadmill 7.5S + 1-year iFit membership
                Review the instructions regarding your iFit program to redeem your one year iFit membership</p>
                <a href="https://amzn.to/30pbPWy" class="btn btn-secondary">$2,899</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3n6V4sV"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3n6V4sV">Sunny Health & Fitness Folding Treadmill</a>
            </h4>
            <p class="card-text">20 peak HP drive system provides speeds of 0. 5 - 9 MPH along with 3 manual options for adjusting incline levels.
                Designed for a max user weight of 220 pounds with 49L x 15. 5W inches of running surface
                </p>
                <a href="https://amzn.to/3n6V4sV" class="btn btn-secondary">$399</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/34fxbqy"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/34fxbqy">Sunny Health & Fitness SF-T7515 Smart Treadmill</a>
            </h4>
            <p class="card-text">Quick Button Auto Incline
                12 levels of incline: 0% to 12% incline
                3 countdown modes: Time Speed and Calories
                Speed Range: 1 - 8 miles per hour</p>
                <a href="https://amzn.to/34fxbqy" class="btn btn-secondary">$505</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3l4Nc9p"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3l4Nc9p">XTERRA Fitness TR150 Folding Treadmill</a>
            </h4>
            <p class="card-text">Large 16" X 50" Walking/running surface
                Large 5 inch LCD display is easy to read and keeps you updated on speed, incline, time, distance, calories, and pulse</p>
                <a href="https://amzn.to/3l4Nc9p" class="btn btn-secondary">$391</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jlVGIJ"><img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jlVGIJ">SereneLife Smart Digital Folding Treadmill - (SLFTRD25)</a>
            </h4>
            <p class="card-text">SPORTS APP CONNECTION: Links to FitShow sports app to make boring exercise routines to exciting fitness sessions. The app is available for iOS & Android & works with various devices such as phones, laptops & tablets via Bluetooth connectivity</p>
            <a href="https://amzn.to/3jlVGIJ" class="btn btn-secondary">$431</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36o25Q9"><img class="card-img-top" src="{% static 'affiliate/images/t6redo.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36o25Q9">Best Choice Products 800W Portable Folding Electric Motorized Treadmill Machine with Rolling Wheels</a>
            </h4>
            <p class="card-text">AUTOMATIC/MANUAL SPEED SETTINGS: Conveniently switch between preset speeds of 0.5, 2, 4, 5.5, and 7.5 mph, or adjust via -/+ push buttons for more options
                ($269 value)</p>
                <a href="https://amzn.to/36o25Q9" class="btn btn-secondary">$268</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/34hIv5C"><img class="card-img-top" src="{% static 'affiliate/images/7t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/34hIv5C">REDLIRO Folding Treadmill
              </a>
            </h4>
            <p class="card-text">Easy Assemble & Space Saver-This treadmill is easy assembled. The folding design and transport wheels make it easy to move and store, the folded dimensions is 24.6 x 24.8 x 48.5 in which is space saving and very suitable for home or office use.
            </p>
                <a href="https://amzn.to/34hIv5C" class="btn btn-secondary">$314</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2SzjtJP"><img class="card-img-top" src="{% static 'affiliate/images/8t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2SzjtJP">Sunny Health & Fitness Walkstation Slim Flat Treadmill
              </a>
            </h4>
            <p class="card-text">FLAT UNDERDESK DESIGN: The Walkstation Slim Treadmill allows you to work up a sweat just about anywhere. Slide it under a desk to stay fit and productive at the same time!
            </p>
                <a href="https://amzn.to/2SzjtJP" class="btn btn-secondary">$399</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2GxYzaS"><img class="card-img-top" src="{% static 'affiliate/images/9t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2GxYzaS">FUNMILY Treadmill
              </a>
            </h4>
            <p class="card-text">2.25HP Folding Electric Treadmills with Large Desk and Heavy Duty Steel Frame, 12 preset Programs, Best Walking Running Exercise Machine for Home Gym Office Cardio Use
            </p>
                <a href="https://amzn.to/2GxYzaS" class="btn btn-secondary">$479</a>
          </div>
        </div>
      </div>
      </div>
      <hr>
      <h2 class="my-4 ">Ellipticals</h2>
      <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cVCBe1"><img class="card-img-top" src="{% static 'affiliate/images/e1.jpg' %}" height=500 width=200 alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cVCBe1">Sunny Health & Fitness Premium Cardio Climber Stepping Elliptical Machine - SF-E3919
              </a>
            </h4>
            <p class="card-text">HEAVY-DUTY FRAME: Confidently enjoy long-lasting climbing and striding sessions when you exercise on the steel climber frame that has a user weight limit of 260lb
            </p>
                <a href="https://amzn.to/3cVCBe1" class="btn btn-secondary">$499</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3ldEoON"><img class="card-img-top" src="{% static 'affiliate/images/e2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3ldEoON">ncient Elliptical Machine
              </a>
            </h4>
            <p class="card-text">Increase the strength of the frame which can support a maximum of 265lbs. 13 inch non-slip pedal provides a no impact, smooth flowing workout, increase stability and comfort
            </p>
                <a href="https://amzn.to/3ldEoON" class="btn btn-secondary">$309</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3ikrVa8"><img class="card-img-top" src="{% static 'affiliate/images/e3.jpg' %}" height=500 width=200 alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3ikrVa8">Sunny Health & Fitness SF-E905
              </a>
            </h4>
            <p class="card-text">RESISTANCE: Easily adjust the intensity of your workout with the twist of the precise micro-controller equipped with 8 levels of magnetic resistance.
              DIGITAL MONITOR WITH PULSE: Follow along with your workout progress on the digital monitor that displays your time, speed, distance, calories, and pulse ($179 value)
            </p>
                <a href="https://amzn.to/3ikrVa8" class="btn btn-secondary">$179</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
      <div class="alignleft">
        <script type="text/javascript">
            amzn_assoc_ad_type = "banner";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_placement = "assoc_banner_placement_default";
            amzn_assoc_campaigns = "amazonhomepage";
            amzn_assoc_banner_type = "rotating";
            amzn_assoc_p = "48";
            amzn_assoc_width = "728";
            amzn_assoc_height = "90";
            amzn_assoc_tracking_id = "lotys654-20";
            amzn_assoc_linkid = "59db4ec409f17d6648f6611cf56014ed";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
    <hr>
  </div>

</body>

</html>
{% endblock %}
