{% extends 'base.html' %} {% load static %}

{% block content %}

<br/>
<h2 class="my-4 ">Protien Shakes</h2>
<hr>
<div class="row">
<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="https://amzn.to/3dzgpqu"><img class="card-img-top" src="{% static 'affiliate/images/sh1.jpg' %}" height=500 width=200 alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="https://amzn.to/3dzgpqu">Premier Protein 30g Protein Shake, Chocolate, 11.5 Fl Oz, Pack of 12
        </a>
      </h4>
      <p class="card-text">Packaged in a new 11.5oz bottle, each shake contains 30g 
          of protein with all the essential amino acids, 160 calories, 1g sugar, low 
          fat, 24 vitamins and minerals, 5g carbs. Available in eight delicious smooth and creamy flavors: Chocolate, 
          Vanilla, Caramel, Cafe Latte, Cookies & Cream, Strawberries & Cream, Bananas & Cream, and Peaches & Cream.
      </p>
          <a href="https://amzn.to/3dzgpqu" class="btn btn-secondary">$18.79</a>
    </div>
  </div>
</div>
</div>











{% endblock %}