{% extends 'base.html' %} {% load static %}

{% block content %}
<h2 class="my-4 ">Treadmills</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/30pbPWy"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/30pbPWy">NordicTrack T Series Treadmill</a>
            </h4>
            <p class="card-text">Your purchase includes: NordicTrack T Series Treadmill 7.5S + 1-year iFit membership
                Review the instructions regarding your iFit program to redeem your one year iFit membership</p>
                <a href="https://amzn.to/30pbPWy" class="btn btn-secondary">$2,899</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3n6V4sV"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3n6V4sV">Sunny Health & Fitness Folding Treadmill</a>
            </h4>
            <p class="card-text">20 peak HP drive system provides speeds of 0. 5 - 9 MPH along with 3 manual options for adjusting incline levels.
                Designed for a max user weight of 220 pounds with 49L x 15. 5W inches of running surface
                </p>
                <a href="https://amzn.to/3n6V4sV" class="btn btn-secondary">$399</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/34fxbqy"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/34fxbqy">Sunny Health & Fitness SF-T7515 Smart Treadmill</a>
            </h4>
            <p class="card-text">Quick Button Auto Incline
                12 levels of incline: 0% to 12% incline
                3 countdown modes: Time Speed and Calories
                Speed Range: 1 - 8 miles per hour</p>
                <a href="https://amzn.to/34fxbqy" class="btn btn-secondary">$505</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3l4Nc9p"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3l4Nc9p">XTERRA Fitness TR150 Folding Treadmill</a>
            </h4>
            <p class="card-text">Large 16" X 50" Walking/running surface
                Large 5 inch LCD display is easy to read and keeps you updated on speed, incline, time, distance, calories, and pulse</p>
                <a href="https://amzn.to/3l4Nc9p" class="btn btn-secondary">$391</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3jlVGIJ"><img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3jlVGIJ">SereneLife Smart Digital Folding Treadmill - (SLFTRD25)</a>
            </h4>
            <p class="card-text">SPORTS APP CONNECTION: Links to FitShow sports app to make boring exercise routines to exciting fitness sessions. The app is available for iOS & Android & works with various devices such as phones, laptops & tablets via Bluetooth connectivity</p>
            <a href="https://amzn.to/3jlVGIJ" class="btn btn-secondary">$431</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36o25Q9"><img class="card-img-top" src="{% static 'affiliate/images/t6redo.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36o25Q9">Best Choice Products 800W Portable Folding Electric Motorized Treadmill Machine with Rolling Wheels</a>
            </h4>
            <p class="card-text">AUTOMATIC/MANUAL SPEED SETTINGS: Conveniently switch between preset speeds of 0.5, 2, 4, 5.5, and 7.5 mph, or adjust via -/+ push buttons for more options
                ($269 value)</p>
                <a href="https://amzn.to/36o25Q9" class="btn btn-secondary">$268</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/34hIv5C"><img class="card-img-top" src="{% static 'affiliate/images/7t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/34hIv5C">REDLIRO Folding Treadmill
              </a>
            </h4>
            <p class="card-text">Easy Assemble & Space Saver-This treadmill is easy assembled. The folding design and transport wheels make it easy to move and store, the folded dimensions is 24.6 x 24.8 x 48.5 in which is space saving and very suitable for home or office use.
            </p>
                <a href="https://amzn.to/34hIv5C" class="btn btn-secondary">$314</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2SzjtJP"><img class="card-img-top" src="{% static 'affiliate/images/8t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2SzjtJP">Sunny Health & Fitness Walkstation Slim Flat Treadmill
              </a>
            </h4>
            <p class="card-text">FLAT UNDERDESK DESIGN: The Walkstation Slim Treadmill allows you to work up a sweat just about anywhere. Slide it under a desk to stay fit and productive at the same time!
            </p>
                <a href="https://amzn.to/2SzjtJP" class="btn btn-secondary">$399</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2GxYzaS"><img class="card-img-top" src="{% static 'affiliate/images/9t.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2GxYzaS">FUNMILY Treadmill
              </a>
            </h4>
            <p class="card-text">2.25HP Folding Electric Treadmills with Large Desk and Heavy Duty Steel Frame, 12 preset Programs, Best Walking Running Exercise Machine for Home Gym Office Cardio Use
            </p>
                <a href="https://amzn.to/2GxYzaS" class="btn btn-secondary">$479</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}